body {
  background-color: #777870;
}

.container {
  width: 42vh;
  margin: 0 auto;
  padding-top: 30px;
}

#num-circle {
    -webkit-animation: rotation 5s infinite linear;
    animation: rotation 5s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-tranform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

#start-button {
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

#green-corner,
#red-corner,
#yellow-corner,
#blue-corner {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

#green-corner:active > #green-light {
  fill: #7DF585;
}

#red-corner:active > #red-light {
  fill: #FF3020;
}

#yellow-corner:active > #yellow-light {
  fill: #FDD732;
}

#blue-corner:active > #blue-light {
  fill: #31B5E4;
}

#green-light,
#red-light,
#yellow-light,
#blue-light {
  pointer-events: none;
}

.hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  visibility: hidden; 
}

.cls-1 {
  fill: #13546b;
}

.cls-2 {
  fill: #0b87b2;
}

.cls-3 {
  fill: #0098d8;
}

.cls-10, .cls-14, .cls-15, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-31, .cls-4, .cls-5, .cls-9 {
  fill: none;
}

.cls-4 {
  stroke: #1a88b0;
}

.cls-10, .cls-14, .cls-15, .cls-19, .cls-20, .cls-4, .cls-5, .cls-9 {
  stroke-linecap: round;
  stroke-width: 5px;
}

.cls-10, .cls-14, .cls-15, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-4, .cls-5, .cls-9 {
  stroke-linejoin: round;
}

.cls-5 {
  stroke: #37b6e2;
}

.cls-6 {
  fill: #937d0c;
}

.cls-7 {
  fill: #d3b109;
}

.cls-8 {
  fill: #e6c700;
}

.cls-9 {
  stroke: #d2b029;
}

.cls-10 {
  stroke: #f7db66;
}

.cls-11 {
  fill: #821709;
}

.cls-12 {
  fill: #d63a25;
}

.cls-13 {
  fill: #f54123;
}

.cls-14 {
  stroke: #cc392b;
}

.cls-15 {
  stroke: #ff7469;
}

.cls-16 {
  fill: #2b592e;
}

.cls-17 {
  fill: #38a34f;
}

.cls-18 {
  fill: #3dbd5d;
}

.cls-19 {
  stroke: #38a34f;
}

.cls-20 {
  stroke: #5ecc76;
}

.cls-21 {
  stroke: #f54123;
}

.cls-21, .cls-22, .cls-23, .cls-24 {
  stroke-width: 6px;
}

.cls-22 {
  stroke: #3dbd5d;
}

.cls-23 {
  stroke: #d3b109;
}

.cls-24 {
  stroke: #0098d8;
}

.cls-25 {
  fill: #191919;
}

.cls-26 {
  font-size: 19.78px;
  fill: #efefef;
}

.cls-26, .num-field, .cls-30 {
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-weight: 700;
}

.cls-27 {
  letter-spacing: -0.09em;
}

.cls-28 {
  letter-spacing: -0.02em;
}

.num-field {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  font-size: 35.96px;
}

.num-field, .cls-30 {
  fill: #efefef;
}

.cls-30 {
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  font-size: 12px;
}

.cls-32 {
  fill: #ff3020;
}

.cls-33 {
  fill: #7df585;
}

.green-light-on {
  fill: #7DF585;
}

.red-light-on {
  fill: #FF3020;
}

.yellow-light-on {
  fill: #FDD732;
}

.blue-light-on {
  fill: #31B5E4;
}
